{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <title>{% block title %}Hub News{% endblock %}</title>

    <link
      href="https://db.onlinewebfonts.com/c/beba489cd0b5d0000a2ebb0d0ae86913?family=FSP+DEMO+-+Biennale+Bold"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/ab115b4a1db57541d7c9c9e39db76c56?family=Biennale"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v3.0.6/css/line.css"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="icon" href="{{infoDB.logo}}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'ccc.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {%block head %}{% endblock %}
  </head>

  <body class="bg-[#1b1b1b] " style="font-family: 'Montserrat', sans-serif;">
    {% with request.resolver_match.url_name as url_name %}
    <main class="__variable_cce811 font-mont bg-dark w-full min-h-screen h-full flex flex-col">
    <header class="w-full flex items-center justify-between pb-2 pt-4 {% if url_name == 'index'%} pb-8 pt-8 md:pb-2 md:pt-4 {%endif%} font-medium z-50 bg-[#1b1b1b] border-b-[0.5px] border-gray-600  tracking-widest text-light relative md:z-50 z-10 lg:px-24 px-8">
      <div class="w-full md:flex justify-between items-center hidden">
        <nav class=" items-center justify-center" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
          
          <a href="{% url 'index' %}" class="mr-4 {% if url_name == 'index' %} underlineActive {% else %} underlineA {% endif %} py-1 rounded relative group lg:text-dark">Home</a>
          <a href="{% url 'about' %}" class="mr-4 {% if url_name == 'about' %} underlineActive {% else %} underlineA {% endif %} py-1 rounded relative group lg:text-dark">About</a>
          <a href="{% url 'gallery' %}" class="mr-4 {% if url_name == 'gallery' %} underlineActive {% else %} underlineA {% endif %} py-1 rounded relative group lg:text-dark">Gallery</a>
          <a href="{% url 'bts' %}" class="mr-4 {% if url_name == 'bts' %} underlineActive {% else %} underlineA {% endif %} py-1 rounded relative group lg:text-dark">Behind the Lens</a>
          
        </nav>
        <div class="flex flex-col items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="flex flex-col items-center justify-center w-16 md:w-20">
            <a href="{% url 'index' %}" class="flex items-center justify-center border-solid rounded-full bg-[#121212] border-white border-2 p-2 alsumaryLogo">
              <img src="{{infoDB.logo}}" class="">
            </a>
          </div>
        </div>
        <nav class="hidden sm:flex items-center justify-center flex-wrap lg:mt-2" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
            <a href="https://www.facebook.com/{{infoDB.facebookAcc}}/" target="_black" class="w-6 mx-3"><i class="px-4 text-xl text-center fa fa-facebook transition-all hover:scale-125"></i></a>
            <a href="https://api.whatsapp.com/send?phone={{infoDB.whatsNumber}}" target="_black" class="w-6 mx-3"><i class="px-4 text-xl text-center fa fa-whatsapp transition-all hover:scale-125"></i></a></li>
            <a href="https://www.linkedin.com/in/{{infoDB.linkedinAcc}}" class="w-6 mx-3" target="_black"><i class="px-4 text-xl text-center fa fa-linkedin transition-all hover:scale-125"></i></a>
            <a href="https://www.instagram.com/{{infoDB.instaAcc}}" class="w-6 mx-3" target="_black"><i class="px-4 text-xl text-center fa fa-instagram transition-all hover:scale-125"></i></a>
        </nav>
      </div>
      {% if url_name != 'index'%}
      <div class="flex flex-col items-center justify-center mt-2 md:hidden" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="flex flex-col items-center justify-center w-16 md:w-20">
          <a href="{% url 'index' %}" class="flex items-center justify-center border-solid rounded-full bg-[#121212] border-white border-2 p-2 alsumaryLogo">
            <img src="{{infoDB.logo}}" class="">
          </a>
        </div>
      </div>
      {% endif %}
      {% endwith %}

      

      <div id="openModalButton" class="cursor-pointer md:hidden inline-block" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
        <div id="bar-1" class=" w-6 h-1 bg-white my-1 transition duration-400 rounded-full"></div>
        <div id="bar-2" class=" w-6 h-1 bg-white my-1 transition duration-100 rounded-full"></div>
        <div id="bar-3" class=" w-6 h-1 bg-white my-1 transition duration-400 rounded-full"></div>
      </div>


    </header>
    <!-- Modal Container -->
    {% with request.resolver_match.url_name as url_name %}
<div id="myModal" class="hidden fixed inset-0 overflow-y-auto flex items-center justify-center transition-opacity">
    {% endwith %}
  <div class=" bg-white/75 rounded-lg p-8 sm:max-w-md w-full sm:mx-auto mx-2 transform transition-transform duration-300 scale-0 shadow-sm shadow-white/75 backdrop-blur-sm z-50">

    <!-- Modal Content Goes Here -->
    <div class="overflow-y-auto max-h-96"> <!-- Adjust max-h-96 to your desired max height -->
      {% with request.resolver_match.url_name as url_name %}

      <ul class="decoration-none flex justify-center flex-col items-center text-black  tracking-widest">
        <li><a href="{% url 'index' %}" class="mr-4 {% if url_name == 'index' %} underlineActiveB {% else %} underlineAB {% endif %} py-1 rounded relative group lg:text-dark">Home</a></li>
        <li><a href="{% url 'about' %}" class="mr-4 {% if url_name == 'about' %} underlineActiveB {% else %} underlineAB {% endif %} py-1 rounded relative group lg:text-dark">About</a></li>
        <li><a href="{% url 'gallery' %}" class="mr-4 {% if url_name == 'gallery' %} underlineActiveB {% else %} underlineAB {% endif %} py-1 rounded relative group lg:text-dark">Gallery</a></li>
        <li><a href="{% url 'bts' %}" class="mr-4 {% if url_name == 'bts' %} underlineActiveB {% else %} underlineAB {% endif %} py-1 rounded relative group lg:text-dark">Behind the Lens</a></li>
      </ul>
      <div class="h-px my-5 bg-black w-full"></div>
      {% endwith %}
      <ul class="decoration-none flex justify-center flex-row items-center text-black" >
        <li><a href="https://www.facebook.com/{{infoDB.facebookAcc}}/" target="_black" class="w-6 mx-1"><i class="px-1 text-xl text-center fa fa-facebook transition-all"></i></a></li>
        <li><a href="https://api.whatsapp.com/send?phone={{infoDB.whatsNumber}}" target="_black" class="w-6 mx-1"><i class="px-1 text-xl text-center fa fa-whatsapp transition-all"></i></a></li></li>
        <li><a href="https://www.linkedin.com/in/{{infoDB.linkedinAcc}}" class="w-6 mx-1" target="_black"><i class="px-1 text-xl text-center fa fa-linkedin transition-all"></i></a></li>
        <li><a href="https://www.instagram.com/{{infoDB.instaAcc}}" class="w-6 mx-1" target="_black"><i class="px-1 text-xl text-center fa fa-instagram transition-all"></i></a></li>
      </ul>
      <!-- Add more content here as needed -->
    </div>
  </div>
</div>


    {% block body %} {% endblock %}
    <footer class="mt-20 flex justify-around flex-col md:flex-row items-center h-20 w-full border-t-2 border-white">
      <h1 class="md:pt-0 pt-24" data-aos="fade-right" data-aos-anchor-placement="top-bottom">2025 © All Rights Reserved.</h1>
      <!-- <h1>Built with ♡ by CodeBucks</h1> -->
      <h1 class="md:pt-0 md:pb-0 pt-8 pb-6">
        <ul class="decoration-none flex justify-center flex-row items-center text-black" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
          <li><a href="https://www.facebook.com/{{infoDB.facebookAcc}}/" target="_black" class="w-6 mx-5 md:mx-1"><i class="px-1 text-xl text-center fa fa-facebook transition-all text-white"></i></a></li>
          <li><a href="https://api.whatsapp.com/send?phone={{infoDB.whatsNumber}}" target="_black" class="w-6 mx-5 md:mx-1"><i class="px-1 text-xl text-center fa fa-whatsapp transition-all text-white"></i></a></li></li>
          <li><a href="https://www.linkedin.com/in/{{infoDB.linkedinAcc}}" class="w-6 mx-5 md:mx-1" target="_black"><i class="px-1 text-xl text-center fa fa-linkedin transition-all text-white"></i></a></li>
          <li><a href="https://www.instagram.com/{{infoDB.instaAcc}}" class="w-6 mx-5 md:mx-1" target="_black"><i class="px-1 text-xl text-center fa text-white fa-instagram transition-all"></i></a></li>
        </ul>
      </h1>
    </footer>
  </main>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <script src="{% static 'monn.js' %}"></script>
  
  </body>


</html>